@charset "iso-8859-1";



body {

	background-color: #000000;

}



.form_definitions {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;

	color: #ffffff;

}

.form_informations {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;

	color: #ffcc00;

}

.form_header_title {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 14px;

	font-weight: bold;

	color: #666666;

}

.model_title {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

	color: #ffffff;

	font-weight: bold;

}

.model_message {



	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

	color: #ffffff;

	font-weight: bold;

}

.model_title_small {



	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	color: #666666;

	font-weight: normal;

}

.message_header {





	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	color: #666666;

	font-weight: bold;

}

.error {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

	font-weight: bold;

	color: #ffdd54;

}

.message {



	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

	font-weight: normal;

	color: #ffffff;

}

.form_definitions2 {



	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;

	color: #ffffff;

}


.modelbox_title {

	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;

	font-size: 12px;

	color: #ffffff;

	font-weight: bold;

}
